<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>
        <h1 class="title-top">URL Shortener</h1>
        <div class="navigation">
            <button class="navigator-arrow btn-l btn-disabled" id="btn-left" disabled><i class="fas fa-arrow-left "></i></button>
            <div class="container">
                <div class="container-page page1" id="container-page1">
                    <h2 class="title">Enter URL</h2>
                    <div class="inputs">
                        <p class="description">Enter the URL you wish to shorten:</p>
                        <input type="text" class="url-input" id="url-input" placeholder="https://www.google.com/" maxlength="1024"/>
                    </div>
                </div>
                <div class="container-page page2" id="container-page2">
                    <h2 class="title">Enter Alias</h2>
                    <div class="inputs">
                        <p class="description">Enter a custom alias you wish to assign the URL:</p>
                        <span class="current-url invis-input-url"></span><input type="text" placeholder="abc" class="invisible-input" id="alias-input" maxlength="32" />
                    </div>
                </div>
                <div class="container-page page3" id="container-page3">
                    <h2 class="title">Done</h2>
                    <div class="inputs">
                        <p class="description">You have successfully shortened your URL. You can now access it under the following link:</p>
                        <h2 class="final-link selectable"><span class="current-url selectable"></span></h2>
                        <hr>
                        <p class="description">If you wish to track your shortened URLs visits, visit</p>
                        <h3 class="tracking-link selectable"><span class="current-url selectable"></span></h3>
                    </div>
                </div>
            </div>
            <button class="navigator-arrow btn-r btn-disabled" id="btn-right" disabled><i class="fas fa-arrow-right"></i></button>
        </div>
    </main>
</body>

<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
<script defer src="/static/script.js"></script>

</html>