/* General Style */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    color: #e8e6e3;
}


/* Main Stuff */
html {
    background-color: #181a1b;
}

main {
    width: 80%;
    height: 50%;
    max-width: 50rem;
    min-width: 30rem;
    min-height: 30rem;
    max-height: 50rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    background-color: #1f2123;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
}

i {
    font-size: 2em;
    color: #e8e6e3;
    transition: all 0.3s ease;
    display: inline-block;
}

strong {
    color: red;
}

hr {
    margin: 20px 10px;
}


/* Selectable */
.selectable, .selectable * {
    display: inline-block;
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -webkit-user-drag: auto !important;
    cursor: pointer;
}

.selectable, .selectable * { transition: all 0.3s; }
.final-link { font-size: clamp(1.5vh, 2vh, 16px); }
.tracking-link { font-size: clamp(1.5vh, 2vh, 16px); }

.selectable:hover .current-url {
    color: #9a9a9a;
}

.selectable:hover {
    cursor: pointer;
    color: #9a9a9a;
    font-size: 1.2rem;
}


/* Title */
.title-top {
    margin-top: 20px;
    font-size: clamp(2em, 5vw, 3em);
}


/* Navigation + Container + Container Pages */
.navigation {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 70%;
    width: 60%;
    text-align: center;
    top: 55%;
    left: 50%;
    background-color: #343538;
    border-radius: 20px;
    flex: 1;
    padding: 5px;
    margin: 30px;
    align-self: center;
}

.container {
    overflow: hidden;
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
}

.container-page {
    position: absolute;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: none;
}

.page2 {
    left: 100%;
}

.page3 {
    left: 200%;
}

.navigator-arrow {
    width: 50px;
    border: 0;
    background-color: #3c3e42;
    transition: all 0.3s;
}

.navigator-arrow:hover:not(.btn-disabled) {
    background-color: #414448;
    cursor: pointer;
    font-size: 2em;
}

.btn-disabled {
    background-color: #343538;
}

.btn-l { border-radius: 20px 0 0 20px; }
.btn-r { border-radius: 0 20px 20px 0; }


/* Page elememnts*/
.title {
    position: absolute;
    font-size: clamp(2.5em, 4vw, 3em);
    left: 50%;
    margin-top: 40px;
    width: 100%;
    transform: translate(-50%, -50%);
}

.description {
    color: #cbcbcb;
    font-size: clamp(2vh, 3vw, 1.5em);
    margin: 5px 25px;
}

.inputs {
    flex: 0 0 auto;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.inputs::-webkit-scrollbar {
    display: none;
}

.url-input {
    border: none;
    outline: none;
    background-color: #1f2123;
    padding: 10px;
    width: 90%;
    margin-top: 20px;
    border-radius: 5px;
}

.invisible-input {
    border: none;
    background-color: #00000033;
    outline: none;
}

.invis-input-url {
    color: #cccccc;
}

.description.two {
    font-size: clamp(2vh, 3vw, 1.5em);
}

/* Message boxes at the top */
.msgboxcontainer {
    position: fixed;
    width: 100%;
    top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    z-index: 20;
}

.msgbox {
    --error-contrast-color:     #d04b4b;
    --error-background-color:   #842626;

    --success-contrast-color:   #8aceab;
    --success-background-color: #295b40;
}

.msgbox {
    align-self: center;

    /* Error colors */
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    max-width: 70rem;
    transition: all 0.6s ease-in-out;
}

.msgbox.hidden {
    opacity: 0;
}

.msgbox.error {
    color: #ffffff;
    background-color: var(--error-background-color);
    border: solid 2px var(--error-contrast-color);
}

.msgbox.success {
    color: #ffffff;
    background-color: var(--success-background-color);
    border: solid 2px var(--success-contrast-color);
}


/* Mobile View */
@media (max-width: 768px) {
    main {
        width: 90%;
        height: 90%;
        max-height: 100%;
    }
}